body {
    font-family: 'Noto Sans', 'Open Sans', sans-serif;
}

@font-face {
    font-family: 'Raleway-Regular', sans-serif;
    src: url(../../assets/font/Raleway-Regular.woff2) format('woff2');
    
}

@font-face {
    font-family: 'Raleway-Bold', sans-serif;
    src: url(../../assets/font/Raleway-Bold.woff2) format('woff2');
}

@font-face {
    font-family: 'AbhayaLibre-Bold', sans-serif;
    src: url(../../assets/font/AbhayaLibre-Bold.woff2) format('woff2');
}

@font-face {
    font-family: 'AbhayaLibre-Regular', sans-serif;
    src: url(../../assets/font/AbhayaLibre-Regular.woff2) format('woff2');
} 
