@use "../helpers/colors" as *;
@use "../helpers/breakpoints" as *;
@use "../base/typography" as *;
@use "../components/content" as *;

.main-footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #1C1C1C;
  padding: 26px;

  background-image: url(../../assets/img/lines.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1300px; 
  margin-inline:auto;
 
  &_logo {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1 1 40%;

    &_single{
      width: 80%;
      height: auto;
    }

    &_infos{
      @include text(18px);
      color: $white;
      margin-top: 20px;
      text-align: center;
    }

  }


  &_nav {
    flex: 1 1 60%;
    &_list {
        
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    animation: opacity 0.25s ease-in-out;
    

      &_item {
        &_link {
          @include text(18px);
          color: $white;
         
        }
        &:last-of-type &_link{
          margin-bottom: 0;
        }
      }
    }
  }
}
