            @use '../helpers/colors' as *;
            @use '../helpers/breakpoints' as *;
            /******** HEADER ****************/
            
            .header-principal {
                background-color: transparentize($clr-accent-1, 0.15);
                color: $clr-primary;
            }
            
            .header-principal hgroup {
                min-height: 40vh;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                padding: 1rem 3rem;
            }
            /** Mise en place de l'image de fond de texte ***/
            
            .header-principal h1,
            .header-principal h2 {
                font-family: 'Bowlby One';
            }
            
            .header-principal h1 {
                font-size: 3rem;
                font-weight: bold;
                margin-bottom: 0.5rem;
                line-height: 1.2;
            }
            
            .header-principal h2 {
                font-size: clamp(1.5rem, 7vw, 3rem);
                margin-bottom: 1rem;
            }
            /**** Media queries ****/
            
            @media (min-width:breakpoint("md")) {
                .header-principal hgroup {
                    min-height: 0;
                }
            }