@use '../helpers/colors' as *;

/********* Contenu principal ***/

.contenu-principal {
    padding: 3rem 2rem;
    background-color: $clr-secondary-light;
    color: $clr-primary;
    background-image: url("../assets/img/bg.svg");
    background-position: center;
    background-size: cover;
    h2 {
        font-weight: bold;
        font-size: clamp(1.5rem, 5vw, 3rem);
        margin-bottom: 3rem;
    }
    a {
        color: $clr-primary;
    }
    p {
        line-height: 1.7;
        font-size: 1.5rem;
    }
    &__wrapper--texte {
        background-color: transparentize($clr-secondary, 0.5);
        backdrop-filter: blur(20px);
        padding: 2rem;
        border-radius: 5px;
        ;
    }
}