h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Roboto", sans-serif;
}
* {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: #141414;
}

*::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 20px;
}
a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

body {
  font-family: "Noto sans", sans-serif;
  background-color: $couleur-fond;
}

.card-container {
  margin-inline: auto;
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.card {
  width: calc(50% - 10px);
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease-in-out;

  @include shadow();

  &:hover {
    @include card-hover(5px);
  }

  &--full {
    width: 100%;
  }

  &_image {
    width: 100%;
  }
  &_image--boo {
    border: 4px solid purple;
  }

  &-main {
    &--full {
      display: flex;
      flex-wrap: wrap;
    }
    &_header {
      margin-left: 20px;
      margin-top: 20px;
      padding-bottom: 20px;
      display: flex;
      flex-direction: column;
      &_title {
        font-size: 28px;
        font-weight: bold;
        border-left: 5px solid saddlebrown;
        padding-left: 20px;
        &--right{
          border-left: 0px;
          padding-left: 0;
          border-right: 5px solid saddlebrown;
          padding-right: 20px;
        }
      }
      &_sub {
        font-size: 18px;
        font-weight: 100;
        border-left: 5px solid saddlebrown;
        padding-left: 20px;
        &--right{
          border-left: 0px;
          padding-left: 0;
          border-right: 5px solid saddlebrown;
          padding-right: 20px;
        }
      }

      &_text {
        margin-top: 1rem;
        font-size: 20px;
      }
      &--right {
        text-align: right;
        align-items: flex-end;
        padding-right: 20px;
      }
    }
  }

  &-footer {
    padding: 20px;
    font-size: 20px;
    border-top: 1px solid #ccc;
    &--right {
      text-align: right;
    }
    &--full{
      text-align: center;
    }
  }
}
