body {
  background-color: $beige;
}
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-thumb {
    background: $yellow;
    border-radius: 10px;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
}
img {
  max-width: 100%;
}

header {
  .hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    padding: 0 8rem;
    flex-wrap: wrap;
    margin-bottom: 15rem;
    @media screen and (max-width:768px) {
      gap: 8rem;
      margin-bottom: 8rem;
      margin-top: 2rem;
      height: inherit;
    }
    
    @media screen and (max-width:1024px) {
      padding: 0 5rem;
    }

    @media screen and (max-width:768px) {
      padding: 0 2rem;
    }
   
    &::before {
      content: "";
      position: absolute;
      background-image: url(../images/test2.svg);
      background-size: cover;
      top: 0;
      left: 0;
      background-repeat: no-repeat;
      width: -webkit-fill-available;
      height: 120vh;
      z-index: -1;
      @media screen and (max-width:768px) {
       background-image: none;
      }
    }

    &_left {
      flex: 1 1 50%;
      @media screen and (max-width:1024px) {
        flex: 1 1 100%;
      }
      &_title {
        font-size: 62px;
        text-transform: uppercase;
        font-family: "Gilroy-ExtraBold";
        width: fit-content;
        position: relative;
        margin-bottom: 3rem;
        &::before {
          content: "";
          position: absolute;
          bottom: -20px;
          left: 0;
          width: 50%;
          height: 6px;
          border-radius: 100vw;
          background-color: $yellow;
        }
        @media screen and (max-width:1440px) {
          font-size: 48px;
        }
        @media screen and (max-width:1024px) {
          flex: 1 1 100%;
        }
        @media screen and (max-width:768px) {
          font-size: 36px;
        }
      }
      &_subtitle{
        font-size: 42px;
        text-transform: uppercase;
        font-family: "Gilroy-ExtraBold";
        width: 70%;
        position: relative;
        margin-bottom: 3rem;
        line-height: 1.2;
        @media screen and (max-width:1440px) {
          font-size: 28px;
          width: 100%;
        }
      }
      &_text {
        font-size: 24px;
        font-family: "Gilroy-Light";
        margin-bottom: 2rem;
        line-height: 1.2
        // width: 80%;
      }
      &_btn {
        @include btn();
      }
    }
    &_right {
      flex: 1 1 50%;
      @media screen and (max-width:1024px) {
        flex: 1 1 100%;
      }
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 50%;
        @media screen and (max-width:768px) {
          width: 80%;
        }
      }
    }
  }
}

.loader {
  width: 100%;
  height: 100%;
  background-color: $beige;
  position: absolute;
  top: 0;
  left: 0;
  @keyframes loaderGoTop {
    from { transform: translateY(0px); }
    to   { transform: translateY(-300%); }
  }
  
  img {
    position: absolute;
    top: 50%;
    left: 0;
    width: 50%;
   
    transform: translate(50%, -50%);
    @keyframes loader {
      from { opacity: 1; }
      to   { opacity: 0; }
    }

    @media screen and (max-width:768px){
      width: 100%;
      transform: translate(0%, -50%);

    }
    
  }
}
main {
    overflow: hidden;
  .agence {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 15rem;
    @media screen and (max-width:768px) {
      margin-bottom: 8rem;
    }

    &_title {
      @include title();
    }
    &_text {
      @include text();
    }
    &-container {
      display: flex;
      align-items: baseline;
      justify-content: space-evenly;
      @media screen and (max-width:1024px) {
        flex-wrap: wrap;
        row-gap: 4rem;
      }
      &_shape {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
        @media screen and (max-width:1024px) {
          flex: 1 1 50%;
        }

        @media screen and (max-width:768px) {
          flex: 1 1 100%;
        }
        
        &_image {
          width: 100%;
          pointer-events: none;
          user-select: none;
          @media screen and (max-width:1024px) {
            width:50%;
          }
          @media screen and (max-width:567px) {
            width:70%;
          }
        }
        &:nth-child(3) img {
          transform: rotate(220deg);
        }
        &:nth-child(4) img {
          transform: rotate(-80deg);
        }
        &_name {
          font-size: 32px;
          font-family: "Gilroy-ExtraBold";
          margin-bottom: 0.5rem;
          text-transform: uppercase;
        }
        &_status {
          font-size: 28px;
          font-family: "Gilroy-Light";
          margin-bottom: 0.5rem;
        }
      }
    }
  }
  .idee {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 15rem;
    position: relative;

    &::before{
      content: url(../images/shape_line_1.svg);
      position: absolute;
      top: -50%;
      right: 0;
      transform: translateY(-50%);
      @media screen and (max-width:768px) {
        content: "";
      }
    }
    
    

    &_title {
      @include title();
    }
    &_text {
      @include text();
    }
    &_btn {
      @include btn();
    }
  }

  .services {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 15rem;
    @media screen and (max-width:768px) {
      margin-bottom: 8rem;
    }

    &_title {
      @include title();
    }
    &_text {
      @include text();
    }

    &-container {
      display: flex;
      justify-content: space-evenly;
      gap: 80px;
      margin-top: 3rem;
      @media screen and (max-width:768px) {
        flex-wrap: wrap;
        flex-direction: column;

      }
      &_bloc {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: $red;
        border-radius: 8px;
        position: relative;
        flex: 1 1 33%;
        @media screen and (max-width:768px) {
          flex: 1 1 auto;
        }
        &_title{
          font-size: 24px;
          font-family: "Gilroy-light";
          margin: 2rem;
          text-align: center;
          color: white;
        }
        &_image {
          width: 150px;
          padding: 2rem;
          pointer-events: none;
          user-select: none;
          transition: all 0.3s ease-in-out;
        }
        &:nth-child(1):before {
          content: "";
          background-image: url(../images/shape_box.svg);
          background-size: contain;
          background-repeat: no-repeat;
          position: absolute;
          bottom: 0px;
          left: 0px;
          width: 300px;
          height: 100%;
          z-index: -1;
          transform: translate(-20%, 30%);
        }
        &:nth-child(3):before {
          content: "";
          background-image: url(../images/shape_box.svg);
          background-size: contain;
          background-repeat: no-repeat;
          position: absolute;
          bottom: 0px;
          left: 0px;
          width: 300px;
          height: 100%;
          z-index: -1;
          transform: translate(-10%, -30%) rotate(180deg);
        }
        &:hover {
          img {
            filter: invert(1);
          }
        }
      }
    }
  }

  .stack {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 15rem;
    position: relative;

    &::before{
      content: url(../images/shape_line_2.svg);
      position: absolute;
      bottom: 0;
      left: 0;
      @media screen and (max-width:768px) {
        content: "";
      }
    }

    &_title {
      @include title();
    }
    &_text {
      @include text();
    }

    &-container {
      display: flex;
      justify-content: space-evenly;
      gap: 80px;
      margin-top: 3rem;
      @media screen and (max-width:768px) {
        flex-wrap: wrap;
      }
      &_bloc {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 8px;
        position: relative;
        @media screen and (max-width:768px) {
          flex: 1 1 40%;
        }
        &_image {
          width: 150px;
          padding: 2rem;
          pointer-events: none;
          user-select: none;
          transition: all 0.3s ease-in-out;
          @media screen and (max-width:768px) {
            width: 100px;
          padding: 1rem;
          }
        }
      }
    }
  }

  .contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(../images/shape_contact.svg);
    background-size: cover;
    background-position: center 400px;
    background-repeat: no-repeat;

    &_title {
      @include title();
    }
    &_text {
      @include text();
    }

    form{
        @include form();
    }
  }
}

.cookies-banner {
  @include cookies-banner();
}
