@use '../helpers/colors' as *;
@use '../helpers/breakpoints' as *;
@use '../components/button' as *;
@use '../components/spacer' as *;
@use '../components/content' as *;
@use '../base/typography' as *;
@use '../layout/footer' as *;

#contact, #realisation, #stack, #agence{
  scroll-margin-top: 230px;
  scroll-behavior: smooth;
}

main{

  background-image: url(../../assets/img/lines.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1300px;

  max-width: 1300px;
  margin-inline: auto;
  

  .hero {
    padding: 100px 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    gap: 60px;

    @media screen and (min-width:768px) {
      flex-direction: row;
      align-items: center;
      padding-top: 160px;
      padding-bottom: 0;
    } 
  
    &-content {
      padding: 0 26px;
      @media screen and (min-width:768px) {
        flex: 1 1 45%;
        padding: 0 10px;
      }
      &_title {
        position: relative;
        @include title(32px);
        transform: translateX(20px);
        @media screen and (min-width:768px) {
          @include title(42px);
        }
      }
  
      &_text {
        @include text(18px);
        @media screen and (min-width:768px) {
          @include text(22px);
        }
      }
  
      .btn {
        @include btn();
      }
    }
    &-image{
      padding: 0 26px;
      width: 100%;
      
      @media screen and (min-width:768px) {
        flex: 1 1 55%;
        display: flex;
        transform: translateX(20%);
      } 
    }
  }

  .agency {
    
    padding: 35px 25px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    gap: 60px;

    @media screen and (min-width:768px) {
      flex-direction: row-reverse;
      align-items: flex-start;
      padding-bottom: 0;
      padding-top: 47px;
    } 
  
    &-content {
      @media screen and (min-width:768px) {
        flex: 1 1 50%;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
      } 
      &_title {
        position: relative;
        @include title(32px);
        transform: translateX(20px);
        @media screen and (min-width:768px) {
          transform: translateX(-40px);
          @include title(42px);
          &::before{
            left: 120px;
          }

        } 
      }
  
      &_text {
        @include text(18px);
        @media screen and (min-width:768px) {
          @include text(22px);
        }
      }
  
    }

    &-draggable{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      column-gap: 26px;

      @media screen and (min-width:768px) {
        flex: 1 1 50%;
      } 
     
        &_card{
          flex: 1 1 calc(50% - 26px);
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;

          &_image{
            max-height: 170px;
            object-fit: cover;
            @media screen and (min-width:768px) {
              max-height: 240px;
            } 
          }

            &_name{
              @include title(20px);
              margin-bottom: 0px;
              margin-top: 6px;
            }

            &_status{
              @include text(18px);
            }
        }
    }
  }

  .stack {
    
    padding: 35px 25px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    gap: 60px;

    @media screen and (min-width:768px) {
      flex-direction: row;
      align-items: flex-start;
      padding-bottom: 100px;
      padding-top: 50px;
    } 
  
    &-content {
      @media screen and (min-width:768px) {
        flex: 1 1 50%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
      } 
      &_title {
        position: relative;
        @include title(32px);
        transform: translateX(20px);
        @media screen and (min-width:768px) {
          @include title(42px);
          &::before{
            left: -48px;
          }
        }
      }
  
      &_text {
        @include text(18px);
        @media screen and (min-width:768px) {
          @include text(22px);
        }
      }

      .btn {
        @include btn();
      }
  
    }

    &-images{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 26px;
     
        &_single{
          flex: 1 1 calc(50% - 26px);
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          width: 100%;

          & img{
            object-fit: contain;
            max-width: 100px;
          }
        }
    }
  }

  .realisations {
    
    padding: 33px 25px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    gap: 60px;

    @media screen and (min-width:768px) {
      flex-direction: row-reverse;
      align-items: flex-start;
      padding-bottom: 50px;
      padding-top: 47px;
    } 
  
    
    &-content {
      @media screen and (min-width:768px) {
        flex: 1 1 50%;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
      } 
      &_title {
        position: relative;
        @include title(32px);
        transform: translateX(20px);
        @media screen and (min-width:768px) {
          transform: translateX(-40px);
          @include title(42px);
          &::before{
            left: 320px;
          }

        } 
      }
  
      &_text {
        @include text(18px);
        @media screen and (min-width:768px) {
          @include text(22px);
        }
      }
      .btn {
        @include btn();
      }
  
  
    }

    &-swiper{
      width: calc(100vw - 50px);
      height: 450px;
      padding-bottom: 60px;
      @media screen and (min-width:768px) {
        flex: 1 1 50%;
        height: 500px;

      } 
        &-wrapper{
         
          .swiper-slide {
            img{
              max-height: 300px;
              object-fit: cover;

              @media screen and (min-width:768px) {
                max-height: 400px;
        
              } 
            }
          }
        }

        &-pagination{

          & .swiper-pagination-bullet{
            width: 8px;
            border-radius: 10px;
            transition: width .3s ease-in-out;
          }

          & .swiper-pagination-bullet-active{
            background: $yellow;
            width: 30px;
            border-radius: 10px;
          }
        }

        &-buttons{
          position: relative;
          display: flex;
          align-items: center;
          justify-content: space-around;
          bottom: 0px;
          .swiper-button-prev{
            position: relative;
            &::after{
              content: url(../../assets/img/arrow_left.svg);
            }
          }
          .swiper-button-next{
            position: relative;
            &::after{
              content: url(../../assets/img/arrow_right.svg);
            }
          }
        }
    }
  }

  .idea {
    
    padding: 15px 25px;
    padding-bottom: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;

    @media screen and (min-width:768px) {
      padding-top: 47px;
      max-width: 680px;
      margin-inline: auto;
    } 
  
    &-content {
      &_title {
        position: relative;
        @include title(32px);
        transform: translateX(20px);
        @media screen and (min-width:768px) {
          transform: translateX(40px);
          @include title(42px);
          &::before{
            left: -49px;
          }

        } 
      }
  
      &_text {
        @include text(18px);
        @media screen and (min-width:768px) {
          @include text(22px);
        }
      }

      .btn {
        @include btn();
      }
  
    }

    &-form{
      
      & form{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 14px;
     
     
        & input, textarea{
          background: #FFFFFF;
          border: 1px solid #E7BA29;
          border-radius: 28px;
          padding: 14px;
          @include text(18px);
          width: 100%;
          margin-bottom: 0;

          &:focus-visible{
            outline: none
          }
        }
        & textarea{
          resize: vertical;
        }
        
        .btn {
          @include btn();
        }
      }

    }
  }

  .spacer{
    @include spacer(100px);
    @media screen and (min-width:768px) {
      @include spacer(160px);
    }
  }   
  
}
