@use '../helpers/colors' as *;
@use '../helpers/breakpoints' as *;
@use '../components/button' as *;
@use '../components/spacer' as *;
@use '../components/content' as *;
@use '../components/loader' as *;
@use '../base/typography' as *;
@use '../layout/footer' as *;


main{

  background-image: url(../../assets/img/lines.svg);
  background-position: center;
  background-size: cover;

  max-width: 100vw;
  margin-inline: auto;
  
  @media screen and (min-width:768px) {
    max-width: 80vw;
  background-size: calc(80vw);
} 
  

  .mentions {
    padding: 100px 0;

    @media screen and (min-width:768px) {
      padding-top: 160px;
      padding-bottom: 0;
      max-width: 40vw;
      margin-inline: auto;

    } 

    @media screen and (max-width:1200px) and (min-width:768px){
      padding-top: 160px;
      padding-bottom: 0;
      max-width: 80vw;
      margin-inline: auto;

    } 
  
    &-content {
      // padding: 0 26px;
      @media screen and (min-width:768px) {
        flex: 1 1 45%;
        padding: 0;
      }
      &_title {
        position: relative;
        @include title(32px);
        transform: translateX(20px);
        @media screen and (min-width:768px) {
          @include title(42px);
          margin-bottom: 100px;
          &::before{
            left: -30px;
          }
        }
        padding: 0 26px;
      }

      &_subtitle {
        position: relative;
        @include subtitle(26px);
        @media screen and (min-width:768px) {
          @include subtitle(32px);
          margin: 16px 0;
        }
        padding: 0 26px;
      }
  
      &_text {
        @include text(18px);
        margin-bottom: 0;
        @media screen and (min-width:768px) {
          @include text(22px);
          margin-bottom: 0;
        }
        padding: 0 26px;
        &:last-of-type{
          padding-bottom: 26px;
        }
        & a{
          color: $yellow;
          font-weight: 700;
          transition: all .3s ease-in-out;
          &:hover{
            opacity: .5;
          }
        }
      }
    }
    .spacer{
      @include spacer(70px);
      @media screen and (min-width:768px) {
        @include spacer(100px);
      }
      margin: 20px 0;
    }   
  }
}
