@use '../helpers/colors'as *;
@use '../helpers/breakpoints' as *;
@use '../base/typography' as *;

@mixin btn(){
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $Bold;
    width: fit-content;
    padding: 10px 30px;
    color: white;
    background-color: $yellow;
    border-radius: 30px;

}
    