@use '../helpers/colors'as *;
@use '../helpers/breakpoints' as *;
@use '../base/typography' as *;

@mixin btn(){
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $Bold;
    width: fit-content;
    padding: 10px 30px;
    color: white;
    background-color: $yellow;
    border-radius: 30px;
    font-size: 18px;
    border: none;
    transition: background-color .3s ease-in-out, color .3s ease-in-out;

    &:hover{
        cursor: pointer;

        background-color: transparent;
        outline: 2px solid $yellow;
        color: $yellow;

    }

}
    