@use '../helpers/colors'as *;
@use '../helpers/breakpoints' as *;
@use '../base/typography' as *;


@mixin spacer($value){
    min-height: $value;
    width: 100%;
    border-top: 2px solid rgb(248 234 190);
    border-bottom: 2px solid rgb(248 234 190);
    background-color: $white;

    @media screen and (min-width:768px) {
        border: 1px solid rgb(248 234 190);
        max-width: 1300px;
        margin-inline: auto ;
    }
}