.c-date {
    color: #304d6d;
    background-color: #fff;
    border: #304d6d 1px solid;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    transition: all ease 0.3s;
    z-index: 2;
    min-height: 6rem;
}

.c-date h2 {
    font-weight: bold;
    margin-bottom: 1rem;
}

.c-date:hover {
    transform: scale(1.05);
    /*
    box-shadow: 1px 2px 1px #999;
    background-color: #304d6d;
    cursor: pointer;
    transform: translateY(-2px);
    z-index: 3;*/
}