/* Abstract
   ========================================================================= */
h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Noto sans", sans-serif;
  background-color: #e8e8e8;
}

img {
  max-width: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #67b0d6;
  height: 10vh;
  padding: 1vh 5vw;
}
header .burger {
  align-self: flex-start;
  margin-right: 2rem;
  font-size: 2rem;
}
header .title {
  flex: 1 1 0%;
}
header .title h1 {
  color: #F8F8F8;
  font-size: 1.2rem;
}
header .list {
  display: flex;
  align-items: center;
}
header .list li {
  font-size: 1.4rem;
}
header .list li:first-child {
  margin-right: 1.2rem;
}

section.new-collection {
  background-image: url("../../img/index/new-collection.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 30vh;
  background-color: #e8e8e8;
}
section.new-collection h2 {
  color: #323c3f;
  margin-left: 52%;
  font-weight: 400;
  font-size: 1.8rem;
  padding-top: 5vh;
}
section.new-collection h3 {
  color: #a6a6ad;
  margin-left: 52%;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.8;
}
section.new-collection .btn {
  text-align: right;
  padding-bottom: 5vh;
  padding-right: 5vw;
}
section.new-collection .btn a {
  display: inline-block;
  margin-top: 2vh;
  padding: 1.5rem 1.5rem;
  border-radius: 5px;
  background-color: #f6846a;
  color: #f8f8f8;
  text-align: center;
  text-transform: uppercase;
}

section.search-form form {
  width: 96%;
  padding: 5vw 1vh;
}
section.search-form form [type=text] {
  padding: 1.2rem 2rem 1.2rem 4rem;
  width: -webkit-fill-available;
  border: none;
  border-radius: 3px;
  background-color: #f8f8f8;
  background-image: url("../../img/searchicon.png");
  background-position: 40px 20px;
  background-repeat: no-repeat;
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.25);
  text-indent: 4rem;
  font-size: 1.4rem;
}
section.search-form form [type=text]:active, section.search-form form [type=text]:focus {
  outline: none;
}

main {
  padding: 0 10px;
}
main section.popular-products h2 {
  margin: 5vh 0;
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: 4px;
  font-weight: 800;
  text-align: center;
  position: relative;
}
main section.popular-products h2::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 15%;
  background-color: #ccc;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
}
main section.popular-products h2::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 15%;
  background-color: #ccc;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}
main section.popular-products .products {
  margin-top: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
main section.popular-products .products .product {
  display: flex;
  align-items: center;
  background-color: white;
  flex-direction: column;
  flex: 0 1 45%;
  border-radius: 8px;
}
main section.popular-products .products .product img {
  max-width: 100%;
}
main section.popular-products .products .product h3 {
  font-size: 1.2rem;
  padding-top: 5vh;
  padding-bottom: 2vh;
  color: #323c3f;
}
main section.popular-products .products .product p {
  font-size: 1rem;
  padding-bottom: 5vh;
  color: #aaabbc;
}
main section.popular-products .loading {
  text-align: center;
  display: block;
  margin: 5vh 0;
}
main section.popular-products .btn-more {
  text-align: center;
}
main section.popular-products .btn-more a {
  display: inline-block;
  margin-top: 2vh;
  padding: 1.5rem 3rem;
  border-radius: 5px;
  background-color: #323c3f;
  color: #f8f8f8;
  text-align: center;
  text-transform: uppercase;
}

nav {
  background-color: #67b0d6;
  height: 6vh;
  width: 100%;
  display: flex;
  align-items: center;
}
nav ul {
  flex: 1 1 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}
nav ul li {
  flex: 1 1 25%;
  text-align: center;
  height: 100%;
  position: relative;
}
nav ul li a {
  color: white;
  position: relative;
  text-transform: uppercase;
}
nav ul li.active a {
  color: #181818;
  font-weight: bold;
}
nav ul li.active::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #181818;
}

section.discorver-sales {
  background-image: url("../../img/advice/img2.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 30vh;
  background-color: #e8e8e8;
}
section.discorver-sales h2 {
  color: #323c3f;
  font-weight: 400;
  margin-left: 5vw;
  font-size: 1.8rem;
  padding-top: 7vh;
}
section.discorver-sales h3 {
  color: #a6a6ad;
  font-weight: 400;
  margin-left: 5vw;
  font-size: 1.6rem;
  line-height: 1.8;
}

section.ultimate-collection {
  background-image: url("../../img/advice/img1.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 30vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}
section.ultimate-collection h2 {
  text-align: center;
  letter-spacing: 4px;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  margin-left: 5vw;
  font-size: 1.8rem;
  padding-top: 7vh;
}
section.ultimate-collection h3 {
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-weight: 400;
  margin-left: 5vw;
  font-size: 1.4rem;
  line-height: 1.8;
}

section.categorys {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
section.categorys .category {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(50% - 10px);
  background-color: white;
  border-radius: 8px;
}
section.categorys .category img {
  max-width: 100%;
}
section.categorys .category h3 {
  font-size: 1.2rem;
  padding-top: 2vh;
  padding-bottom: 2vh;
  color: #323c3f;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
}
section.categorys .category:last-of-type {
  width: 100%;
}
section.categorys .loading {
  text-align: center;
  display: block;
  margin: 5vh 0;
  width: 100%;
}

body.products .btn {
  text-align: right;
}
body.products .btn a {
  display: inline-block;
  margin-top: 2vh;
  padding: 1.5rem 1.5rem;
  border-radius: 5px;
  background-color: #f6846a;
  color: #f8f8f8;
  text-align: center;
  text-transform: uppercase;
}
body.products .btn a {
  padding: 1rem 1.5rem;
}
body.products .btn-more {
  text-align: center;
}
body.products .btn-more a {
  display: inline-block;
  margin-top: 2vh;
  padding: 1.5rem 3rem;
  border-radius: 5px;
  background-color: #323c3f;
  color: #f8f8f8;
  text-align: center;
  text-transform: uppercase;
}
body.products .btn-more a {
  padding: 1rem 1.5rem;
}
body.products header {
  background-color: #38474f;
}
body.products nav {
  height: auto;
  background-color: #38474f;
  padding-bottom: 1rem;
}
body.products nav p {
  flex: 1 1 50%;
}
body.products nav p a {
  width: -webkit-fill-available;
  font-size: 0.8rem;
  margin: 0 1rem;
}
body.products main {
  padding: 1rem;
}
body.products main section {
  margin-top: 1rem;
}
body.products main section article {
  background-color: #fff;
  border-radius: 8px;
}
body.products main section article .article_description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem;
}
body.products main section article .article_description h2 {
  font-weight: bold;
  font-size: 1.2rem;
}
body.products main section article .article_description p a {
  margin: 0;
  background-color: #bfbfc4;
}
body.products main .description {
  padding: 1.4rem;
  background-color: #fff;
  border-radius: 8px;
}
body.products main .description .description_item {
  display: flex;
  align-items: center;
}
body.products main .description .description_item .fa-plus {
  font-size: 1.4rem;
}
body.products main .description .description_item h2 {
  margin-left: 2rem;
  font-weight: bold;
  font-size: 1.2rem;
}
body.products main .couleurs {
  margin-bottom: 2rem;
  padding: 1.4rem;
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
body.products main .couleurs h2 {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
body.products main .couleurs h2:first-child::before {
  content: url("../../img/product/icon.png");
  margin-right: 1rem;
  position: relative;
}
body.products main .couleurs h2:last-of-type::before {
  content: url("../../img/product/hanger.png");
  margin-right: 1rem;
  position: relative;
}
body.products main .couleurs .couleurs_block {
  display: flex;
  align-items: center;
  padding: 1rem;
  gap: 20px;
}
body.products main .couleurs .couleurs_block p {
  padding: 1.6rem;
  border-radius: 6px;
}
body.products main .couleurs .couleurs_block p i {
  display: none;
}
body.products main .couleurs .couleurs_block .couleurs_block_pink {
  background-color: #f0c9ce;
}
body.products main .couleurs .couleurs_block .couleurs_block_magenta {
  background-color: #af687a;
}
body.products main .couleurs .couleurs_block .couleurs_block_gray {
  background-color: #87a6b2;
}
body.products main .couleurs .couleurs_block .active {
  position: relative;
}
body.products main .couleurs .couleurs_block .active i {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.8rem;
  filter: invert(1);
}
body.products main .couleurs hr {
  width: 80%;
  margin: 1.6rem 0;
}
body.products main .couleurs .couleurs_size {
  display: flex;
  align-items: center;
  padding: 1rem;
  gap: 20px;
}
body.products main .couleurs .couleurs_size p {
  padding: 1.2rem;
  border-radius: 6px;
  min-width: 1rem;
  text-align: center;
  background-color: #dadade;
}
body.products main .couleurs .couleurs_size .active {
  background-color: #67b0d6;
  color: white;
}
body.products main .btn-more a {
  width: 50%;
  max-width: 300px;
  text-transform: inherit;
}
body.products main .share {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
body.products main .share h2 {
  font-weight: bold;
  position: relative;
  padding: 2rem 0;
}
body.products main .share h2::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  top: 50%;
  left: 100px;
  transform: translateY(-50%);
  background-color: #ccc;
}
body.products main .share .share_social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
body.products main .share .share_social .share_social_item {
  display: flex;
  align-items: center;
}
body.products main .share .share_social .share_social_item p {
  min-width: 50px;
  min-height: 50px;
  text-align: center;
  border-radius: 50%;
}
body.products main .share .share_social .share_social_item p .fa-brands {
  color: white;
  padding: 1rem;
}
body.products main .share .share_social .share_social_item .twitter {
  background-color: #00acee;
}
body.products main .share .share_social .share_social_item .facebook {
  background-color: #3b5998;
}
body.products main .share .share_social .share_social_item .pinterest {
  background-color: #c8232C;
}
body.products main .share .share_social .share_social_item .share_social_item_value {
  background-image: url("../../img/product/base.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
