/* Abstract
   ========================================================================= */
* {
  font-family: "Nunito Sans", monospace;
}

body {
  background: #19191b;
  margin: 0;
  overflow-x: hidden;
}

main {
  overflow-x: hidden;
}

section {
  max-width: 1200px;
}

header {
  position: relative;
  max-width: 1200px;
  height: 700px;
  padding: 0 20px;
  margin: 0 auto;
  background-image: url("../images/background-section-banner.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: auto 550px;
}
header::before {
  content: "";
  position: absolute;
  width: 400px;
  height: 1200px;
  left: 0px;
  top: -300px;
  background: linear-gradient(180deg, rgba(84, 84, 212, 0.27) 0%, rgba(84, 84, 212, 0.1134) 100%);
  filter: blur(150px);
  border-radius: 233.5px;
  transform: rotate(-41.34deg);
}
@media screen and (max-width: 768px) {
  header::before {
    width: 200px;
    height: 600px;
    left: 0px;
    top: 0px;
  }
}
header::after {
  content: "";
  position: absolute;
  width: 400px;
  height: 1200px;
  right: -250px;
  bottom: -300px;
  transform: rotate(65.71deg);
  background: linear-gradient(180deg, rgba(251, 168, 28, 0.048) 0%, rgba(224, 86, 136, 0.018) 100%);
  filter: blur(150px);
  border-radius: 233.5px;
}
@media screen and (max-width: 768px) {
  header::after {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  header {
    background-size: auto 300px;
    background-position: bottom;
    height: 900px;
  }
}
header section {
  max-width: 45%;
}
@media screen and (max-width: 768px) {
  header section {
    max-width: 100%;
  }
}
header .enver-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
}
header .enver-menu .enver-menu_desk {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0px;
  gap: 40px;
  transition: all 0.3s;
}
header .enver-menu .enver-menu_desk li {
  position: relative;
}
header .enver-menu .enver-menu_desk li a {
  color: rgba(255, 255, 255, 0.7019607843);
  font-size: 16.875px;
  text-decoration: none;
  font-weight: 400;
  transition: all 0.3s;
}
header .enver-menu .enver-menu_desk li a:hover {
  color: #5454D4;
  transition: all 0.3s;
}
header .enver-menu .enver-menu_desk li.menu--active a {
  color: #5454D4;
  font-weight: 600;
}
header .enver-menu .enver-menu_desk li.menu--active::before {
  width: 70%;
}
header .enver-menu .enver-menu_desk li::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: #5454D4;
  height: 1px;
  width: 0px;
  transition: all 0.3s;
}
header .enver-menu .enver-menu_desk li:hover {
  transition: all 0.3s;
}
header .enver-menu .enver-menu_desk li:hover::before {
  width: 70%;
}
@media screen and (max-width: 768px) {
  header .enver-menu .enver-menu_desk {
    display: none;
  }
}
header .enver-menu .enver-menu_contact {
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  background: transparent;
  color: #FFFFFF;
  transition: all 0.3s;
  width: fit-content;
  padding: 10px 40px;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}
header .enver-menu .enver-menu_contact:hover {
  background: #FFFFFF;
  transition: all 0.3s;
  color: #000000;
}
@media screen and (max-width: 768px) {
  header .enver-menu .enver-menu_contact {
    display: none;
  }
}
header .enver-menu .enver-menu_toggler {
  padding: 0;
  border: none;
  background: transparent;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 4px;
  width: 24px;
}
header .enver-menu .enver-menu_toggler span {
  height: 1px;
  border-radius: 2px;
  background: #FFFFFF;
  transition: all 0.3s;
}
header .enver-menu .enver-menu_toggler span:nth-child(1) {
  width: 100%;
}
header .enver-menu .enver-menu_toggler span:nth-child(2) {
  width: 80%;
}
header .enver-menu .enver-menu_toggler span:nth-child(3) {
  width: 60%;
}
@media screen and (min-width: 768px) {
  header .enver-menu .enver-menu_toggler {
    display: none;
  }
}
header .enver-hero {
  padding-top: 60px;
}
header .enver-hero h1 {
  margin: 0;
  font-size: 82px;
  color: #FFFFFF;
  font-weight: 900;
}
@media screen and (max-width: 768px) {
  header .enver-hero h1 {
    font-size: 42px;
  }
}
@media screen and (max-width: 768px) {
  header .enver-hero {
    background-size: auto 300px;
    height: 1050px;
  }
}
header .enver-hero p {
  margin: 60px 0 60px 0;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.7019607843);
}

#best-choice {
  position: relative;
  padding: 0 20px;
  margin: 250px auto;
}
@media screen and (max-width: 768px) {
  #best-choice {
    margin: 100px auto;
  }
}
#best-choice .title-section {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 40px 0 40px 0;
}
#best-choice .title-section h2 {
  margin: 0;
  font-size: 82px;
  color: #FFFFFF;
  font-weight: 900;
}
@media screen and (max-width: 768px) {
  #best-choice .title-section h2 {
    font-size: 42px;
  }
}
#best-choice .title-section p {
  margin: 40px 0 0px 0;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.7019607843);
}
@media screen and (max-width: 768px) {
  #best-choice .title-section {
    flex-direction: column;
  }
}
#best-choice .video {
  position: relative;
}
#best-choice .video img {
  width: 100%;
}
#best-choice .video .btn-play {
  position: absolute;
  inset: 0;
  display: flex;
  margin: auto;
  border: none;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #5454D4;
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.4s;
}
@media screen and (max-width: 768px) {
  #best-choice .video .btn-play {
    width: 50px;
    height: 50px;
  }
}
#best-choice .video .btn-play svg {
  width: 25px;
  height: auto;
  margin: auto;
}
@media screen and (max-width: 768px) {
  #best-choice .video .btn-play svg {
    width: 15px;
  }
}
#best-choice .video .btn-play:hover {
  cursor: pointer;
}
#best-choice .video:hover .btn-play {
  opacity: 1;
  transform: translateY(0px);
  transition: all 0.4s;
}

#service {
  position: relative;
  padding: 0 20px;
  margin: 250px auto;
}
@media screen and (max-width: 768px) {
  #service {
    margin: 100px auto;
  }
}
#service::before {
  content: "";
  position: absolute;
  width: 400px;
  height: 400px;
  left: -300px;
  top: -300px;
  background: linear-gradient(180deg, rgba(84, 84, 212, 0.27) 0%, rgba(84, 84, 212, 0.1134) 100%);
  filter: blur(150px);
  border-radius: 233.5px;
  transform: rotate(-41.34deg);
}
#service::after {
  content: "";
  position: absolute;
  width: 400px;
  height: 400px;
  right: -400px;
  bottom: -300px;
  transform: rotate(65.71deg);
  background: linear-gradient(180deg, rgba(84, 84, 212, 0.27) 0%, rgba(84, 84, 212, 0.1134) 100%);
  filter: blur(150px);
  border-radius: 233.5px;
  transform: rotate(-41.34deg);
}
#service h2 {
  text-align: center;
  font-size: 82px;
  color: #FFFFFF;
  font-weight: 900;
  width: 80%;
  margin: 0 auto;
  background-image: url("../images/triangles.png"), url("../images/add-1.png");
  background-size: 60px, 60px;
  background-repeat: no-repeat;
  background-position: left center, bottom right;
}
@media screen and (max-width: 768px) {
  #service h2 {
    font-size: 42px;
    width: 100%;
  }
}
#service .card-container {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 60px 20px;
  gap: 60px 20px;
  width: 100%;
}
#service .card-container .single-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  gap: 20px;
  transition: all 0.4s;
}
#service .card-container .single-card img {
  width: 100%;
  max-width: 60px;
}
#service .card-container .single-card h3 {
  font-size: 22px;
  color: #FFFFFF;
  margin: 0;
  text-align: center;
}
#service .card-container .single-card p {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7019607843);
  margin: 0;
  text-align: center;
}
#service .card-container .single-card:hover {
  transform: translateY(-20px);
  transition: all 0.4s;
}
#service .card-container .single-card:hover[data-color=blue] {
  background: rgba(84, 84, 212, 0.05);
  border-radius: 5px;
}
#service .card-container .single-card:hover[data-color=red] {
  background: rgba(240, 64, 55, 0.05);
  border-radius: 5px;
}
#service .card-container .single-card:hover[data-color=yellow] {
  background: rgba(254, 220, 90, 0.05);
  border-radius: 5px;
}
@media screen and (max-width: 768px) {
  #service .card-container {
    gap: 20px;
    row-gap: 40px;
    grid-template-columns: repeat(2, 1fr);
  }
}

#portfolio {
  position: relative;
  padding: 0 20px;
  margin: 250px auto;
}
@media screen and (max-width: 768px) {
  #portfolio {
    margin: 100px auto;
  }
}
#portfolio h2 {
  font-size: 82px;
  color: #FFFFFF;
  font-weight: 900;
  background-image: url("../images/circles-1.png");
  background-size: 60px;
  background-repeat: no-repeat;
  background-position: bottom right;
}
@media screen and (max-width: 768px) {
  #portfolio h2 {
    font-size: 42px;
    width: 100%;
  }
}
#portfolio .portfolio-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 400px;
}
#portfolio .portfolio-container img:nth-child(1) {
  align-self: flex-start;
}
#portfolio .portfolio-container img:nth-child(2) {
  align-self: center;
}
#portfolio .portfolio-container img:nth-child(3) {
  align-self: flex-end;
}
@media screen and (max-width: 768px) {
  #portfolio .portfolio-container {
    height: 300px;
  }
  #portfolio .portfolio-container img {
    position: absolute;
    inset: 0;
    width: 80%;
    margin: auto;
    opacity: 1;
    transition: all 1s;
  }
}
#portfolio .portfolio-controller {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
#portfolio .portfolio-controller .btn-play {
  position: absolute;
  inset: 0;
  display: flex;
  margin: auto;
  border: none;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #5454D4;
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.4s;
  position: relative;
  opacity: 1;
  margin: inherit;
}
@media screen and (max-width: 768px) {
  #portfolio .portfolio-controller .btn-play {
    width: 50px;
    height: 50px;
  }
}
#portfolio .portfolio-controller .btn-play svg {
  width: 25px;
  height: auto;
  margin: auto;
}
@media screen and (max-width: 768px) {
  #portfolio .portfolio-controller .btn-play svg {
    width: 15px;
  }
}
#portfolio .portfolio-controller .btn-play:hover {
  cursor: pointer;
}
#portfolio .portfolio-controller .btn-play svg {
  width: 25px;
}
@media screen and (min-width: 768px) {
  #portfolio .portfolio-controller .btn-play {
    display: none;
  }
}

#contact {
  position: relative;
  background-color: #1b1b1d;
  max-width: 100%;
}
#contact .background-contact {
  padding: 100px 20px;
  margin: 250px auto;
  margin-bottom: 100px;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-image: url("../images/add-1.png");
  background-size: 60px;
  background-repeat: no-repeat;
  background-position: top right;
}
@media screen and (max-width: 768px) {
  #contact .background-contact {
    margin: 100px auto;
  }
}
#contact h2 {
  font-size: 82px;
  color: #FFFFFF;
  font-weight: 900;
  width: 80%;
}
@media screen and (max-width: 768px) {
  #contact h2 {
    font-size: 42px;
    width: 100%;
  }
}
#contact .btn {
  padding: 12px 40px;
}
#contact .btn::before {
  display: none;
}

footer {
  max-width: 1200px;
  padding: 0 20px;
  margin: 100px auto;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 40px;
}
@media screen and (max-width: 768px) {
  footer {
    margin-top: 100px;
    margin-bottom: 50px;
    flex-direction: column;
  }
}
footer .enver-menu_footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  flex-direction: row;
  padding: 0px;
  gap: 40px;
  transition: all 0.3s;
}
@media screen and (max-width: 768px) {
  footer .enver-menu_footer {
    flex-direction: column;
  }
}
footer .enver-menu_footer li {
  position: relative;
}
footer .enver-menu_footer li a {
  color: rgba(255, 255, 255, 0.7019607843);
  font-size: 16.875px;
  text-decoration: none;
  font-weight: 400;
  transition: all 0.3s;
}
footer .enver-menu_footer li a:hover {
  color: #5454D4;
  transition: all 0.3s;
}
footer span {
  color: rgba(255, 255, 255, 0.7019607843);
  font-size: 16.875px;
  text-decoration: none;
  font-weight: 400;
}

.btn {
  background-color: #5454D4;
  color: #FFFFFF;
  border: none;
  font-size: 20px;
  width: fit-content;
  transition: all 0.3s;
  padding: 12px 50px 12px 20px;
  line-height: 22px;
  position: relative;
}
.btn:hover {
  outline: 1px solid #5454D4;
  color: #5454D4;
  background-color: transparent;
  transition: all 0.3s;
  cursor: pointer;
}
.btn::before {
  content: url("../images/arrow-top.png");
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 15px;
  width: 16px;
  height: 16px;
}

/*# sourceMappingURL=style.css.map */
