@mixin shadow {
  box-shadow: 0 6px 10px -5px rgba(0, 0, 0, 0.2);
}

@mixin card-hover($param) {
  transform: translateY($param);
  box-shadow: 0 20px 20px -15px rgba(0, 0, 0, 0.3);
}

@mixin default-section {
  position: relative;
  background-color: #efefef;
  min-height: 90vh;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

@mixin title() {
  width: fit-content;
  font-size: 4rem;
  font-weight: 100;
  margin-bottom: 1rem;
  & strong {
    font-weight: bold;
  }
}

@mixin text() {
  font-size: 1rem;
  font-style: italic;
  line-height: 1.4rem;
  margin-bottom: 1rem;
}

@mixin letter($param) {
  content: attr(data-letter);
  font-size: 130vh;
  height: 100%;
  overflow: hidden;
  background-blend-mode: difference;
  color: #e3e3e3;
  position: absolute;
  top: 0px;
  left: 0vw;
  z-index: 0;
  line-height: 0.66;
  opacity: 0.45;
}

@mixin background-section($url, $posX, $posY, $covering) {
  z-index: 1;
  position: relative;
  min-height: 90vh;
  background-image: url($url);
  background-repeat: no-repeat;
  background-position-x: $posX;
  background-position-y: $posY;
  background-size: $covering;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

@mixin arrow($deg) {
  background-color: white;
  width: 50px;
  height: 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    cursor: pointer;
  }
  &::before {
    content: "\f054";
    color: black;
    font: var(--fa-font-solid);
    font-size: 2rem;
    transform: rotate($deg);
  }
}
