/* Nommage des couleurs */

$noir: #000;
$gris-fonce-0: #121212;
$gris-fonce-1: #333;
$gris-clair-1: #dadada;
$gris-clair-2: #eaeaea;
$mauve-1 :#bb86fc;
$vert-1:#03dac6;
$bleu :#65c9ff;

/* Distribution des couleurs  */

$coul-background: $gris-fonce-0;
$coul-surface-1: $gris-fonce-1;
$coul-on-background: $gris-clair-1;
$coul-on-surface-1: $gris-clair-2;
$coul-primary: $bleu;
$coul-secondary: $mauve-1;
$coul-on-primary:$noir;
$coul-on-secondary:$noir;