.images {
    overflow: hidden;
    margin-bottom: 2rem;
    img {
        width: 10rem;
    }
    &.center {
        text-align: center;
    }
}

.test2 .images {
    overflow: visible;
}

#affichageChrono {
    background-color: $coul-secondary;
    color: $coul-on-secondary;
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 1.2rem;
}