/******** Mes réglages habituels **********/

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

a {
    display: inline-flex;
    text-decoration: none;
    color: initial;
}

body{
    position: relative;
  overflow-x: hidden;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

img {
    max-width: 100%;
    width: 100%;
}