$Regular : 'Gilroy-Light';
$Bold : 'Gilroy-ExtraBold';

@font-face {
    font-family: 'Gilroy-Light';
    src: url('../../assets/fonts/Gilroy-Light.woff2') format("woff2");
}

@font-face {
    font-family: 'Gilroy-ExtraBold';
    src: url('../../assets/fonts/Gilroy-ExtraBold.woff2') format("woff2");
}

