<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Ex 5 Galerie VueJS</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/general.css">
    <link rel="stylesheet" href="css/card.css">

    <script src="https://unpkg.com/vue@3"></script>
    <script src="./js/progAppli.js" defer></script>

</head>

<body>
    <div id="appli">
        <header>

        </header>
        <main>
            <!-- ARTICLE à fournir ---------------  -->
            <article>
                <h2>{{titreSite}}</h2>
                <section class="cards">

                    <figure v-for="image in images" class="card"><img :src=image.download_url>
                        <figcaption v-if="image.jaime === true">
                            <img src="images/likeOui.png" :alt=resume(image) @click="unlike(image)" class="aimeroupas">
                            
                            {{image.author}} </figcaption>
                        <figcaption v-else>
                            <img src="images/likeNon.png" :alt=resume(image) @click="like(image)" class="aimeroupas">
                            
                            {{image.author}} </figcaption>
                    </figure>

                </section>
            </article>

            <!-- Fin des ressources fournies --------------- -->

            <article>  
                <h2>Images likées</h2>
                <section class="cards">

                    <figure v-for="image in images" class="card">
                        <div v-if="image.jaime === true ">
                            <img :src=image.download_url>
                            <figcaption><img src="images/likeOui.png" :alt=resume(image) @click="unlike(image)" class="aimeroupas">{{image.author}} </figcaption>
                        </div>
                    </figure>

                </section>
            </article>


        </main>
    </div>
    <footer>Initiation à <em>vueJS</em></footer>
</body>

</html>