$button-color:                  #5454D4;
$text-color-light:                    #FFFFFF;
$text-color-dark:                    #000000;

// ICON
$red-icon:                      #F04037;
$blue-icon:                     #5454D4;
$yellow-icon:                   #FEDC5A;

// BACKGROUND

$background-light:              #FFFFFF;
$background-dark:              #000000;