

$button-color:                  #5454D4;
$title-color-light:             #FFFFFF;
$title-color-dark:              #000000;
$text-color-light:              #FFFFFFB3;
$text-color-blue:               #5454D4;

// ICON
$red-icon:                      #F04037;
$blue-icon:                     #5454D4;
$yellow-icon:                   #FEDC5A;

// BACKGROUND

$background-light:              #FFFFFF;
$background-dark:               #19191b;